@model Demo_GitHub.Models.HomeViewModel

@section scripts{
    <script type="text/javascript">
        $(".readLink").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("href"),
                success: function () {
                    location.reload();
                }
            });
        });
    </script>
}

<h2>Demo lector de JSONs de comprobantes</h2>
<p>Presione en "Ver JSON" al lado del comprobante de interés. Para configurar el identificador del cliente y el token, debe modificar los valores en Web.config.</p>
<div class="well">
    <h4>Identificador del cliente</h4>
    <p>
        @Model.IdCliente
    </p>
    <h4 style="margin-top: 30px;">Token de seguridad</h4>
    <p style="text-overflow: ellipsis; overflow: hidden">
        @Model.Token
    </p>
</div>
<h3>Nuevos comprobantes</h3>
<div class="table-responsive">
    <table class="table" style="width:50%">
        <thead class="table">
            <tr>
                <th>
                    ID  del comprobante
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody class="table">
            @foreach (var item in Model.JsonList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdComprobante)
                    </td>
                    <td>
                        @Html.ActionLink("Ver JSON", "ComprobanteJson", "Home", new { @idCliente = item.IdCliente, @idComprobante = item.IdComprobante }, null) |
                        @Html.ActionLink("Marcar como leído", "MarkAsReaded", "Home", new { @idCliente = item.IdCliente, @idComprobante = item.IdComprobante }, new { @class = "readLink", @style = "color:#c9302c;" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
